<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/game1.css" />
    <title>This App</title>
  </head>
  <body>
    <div class="wrapper hidden">
      <div class="header">
        <a href="../main.html" class="home y-btn"> Lobby </a>

        <div class="balance_cont block">
          <img src="../png/coin.png" alt="coin" />
          <div class="balance"></div>
        </div>
      </div>

      <div class="field">
        <div class="static"></div>

        <div class="top">
          <div class="cell" data-num="1"></div>
          <div class="cell" data-num="2"></div>
          <div class="cell" data-num="3"></div>
          <div class="cell" data-num="4"></div>
          <div class="cell" data-num="5"></div>
          <div class="cell" data-num="6"></div>
          <div class="cell" data-num="7"></div>
        </div>
        <div class="left">
          <div class="cell" data-num="20"></div>
          <div class="cell" data-num="19"></div>
          <div class="cell" data-num="18"></div>
        </div>
        <div class="right">
          <div class="cell" data-num="8"></div>
          <div class="cell" data-num="9"></div>
          <div class="cell" data-num="10"></div>
        </div>
        <div class="bottom">
          <div class="cell" data-num="17"></div>
          <div class="cell" data-num="16"></div>
          <div class="cell" data-num="15"></div>
          <div class="cell" data-num="14"></div>
          <div class="cell" data-num="13"></div>
          <div class="cell" data-num="12"></div>
          <div class="cell" data-num="11"></div>
        </div>
      </div>

      <div class="side"></div>

      <div class="spin y-btn">SPIN</div>
    </div>

    <script src="../scripts/game1.js"></script>
  </body>
</html>
